<template>
  <v-form v-model="valid">
    <v-container>
      <v-card-title>Agregar libro</v-card-title>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="libro.nombre"
            :rules="nameRules"
            label="Nombre de libro"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="libro.descripcion"
            :rules="nameRules"
            label="Descripcion"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="libro.autor"
            :rules="nameRules"
            label="Autor"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <v-btn :disabled="!valid" class="btn btn-success" @click="crearLibro">
            <i class="fas fa-check"></i> Guardar libro
          </v-btn>
          <div class="my-4 text-subtitle-1">Llene el formulario para poder crear el libro.</div>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: "crear-libro",
  data() {
    return{
      valid: false,
      libro:{
        nombre: "",
        descripcion: "",
        autor: "",
      },
      nameRules: [(v) => !!v || "Este campo es requerido"],
    }
  },
  methods:{
    async crearLibro() {
      await this.axios.post('/api/libro', this.libro)
      .then(response => {
        this.$router.push({name: "mostrarLibros"});
      })
      .catch(error => {
        console.log(error);
      });
    }
  }
};
</script>