<template>
  <v-form v-model="valid">
    <v-container>
      <v-card-title>Editar libro</v-card-title>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="libro.nombre"
            :rules="nameRules"
            label="Nombre de libro"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="libro.descripcion"
            :rules="nameRules"
            label="Descripcion"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="4">
          <v-text-field
            v-model="libro.autor"
            :rules="nameRules"
            label="Autor"
            required
          ></v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <v-btn :disabled="!valid" class="btn btn-success" @click="actualizarLibro">
            <i class="fas fa-check"></i> Actualizar libro
          </v-btn>
          <div class="my-4 text-subtitle-1">Llene el formulario para poder crear el libro.</div>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
export default {
  name: "crear-libro",
  data() {
    return{
      valid: false,
      libro:{
        nombre: "",
        descripcion: "",
        autor: "",
      },
      nameRules: [(v) => !!v || "Este campo es requerido"],
    }
  },
  mounted() {
    this.mostrarLibro();
  },
  methods:{
    async mostrarLibro() {
        await this.axios.get("/api/libro/" + this.$route.params.id)
        .then(response => {
            const {nombre, descripcion, autor} = response.data;
            this.libro.nombre = nombre;
            this.libro.descripcion = descripcion;
            this.libro.autor = autor;
        })
        .catch(error => {
          console.log(error);
        });
    },
    async actualizarLibro() {
      await this.axios.put('/api/libro/' + this.$route.params.id, this.libro)
      .then(response => {
        this.$router.push({name: "mostrarLibros"});
      })
      .catch(error => {
        console.log(error);
      });
    }
  }
};
</script>