<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="4">
        <router-link :to='{ name: "crearLibro" }' class="btn btn-success"><i class="fas fa-plus-circle"></i> Agregar libro</router-link>
      </v-col>
    </v-row>
    <v-simple-table>
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">Libro</th>
            <th class="text-left">Descripción</th>
            <th class="text-left">Autor</th>
            <th class="text-left">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="libro in libros" :key="libro.id">
            <td>{{ libro.nombre }}</td>
            <td>{{ libro.descripcion }}</td>
            <td>{{ libro.autor }}</td>
            <td>
              <router-link
                :to="{ name: 'editarLibro', params: { id: libro.id } }"
                class="btn btn-primary"
                ><i class="fas fa-pen"></i> Editar</router-link
              >
              <button @click="eliminarLibro(libro.id)" class="btn btn-danger">
                <i class="fas fa-trash"></i> Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-container>
</template>

<script>
export default {
  name: "libros",
  data() {
    return {
      libros: [],
    };
  },
  mounted() {
    this.mostrarLibros();
  },
  methods: {
    async mostrarLibros() {
      await this.axios
        .get("/api/libro")
        .then((response) => {
          this.libros = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    eliminarLibro(id) {
      if (confirm("¿Está seguro de eliminar el libro?")) {
        this.axios
          .delete("/api/libro/" + id)
          .then((response) => {
            this.mostrarLibros();
          })
          .catch((error) => {
            console.log(error);
          });
      }
    },
  },
};
</script>