<template>
  <main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" v-for="item in items" :key="item.title">
            <li class="nav-item">
              <router-link exact-active-class="active" :to="item.link" class="nav-link active" >
                <!-- <v-icon> {{ item.icon }} </v-icon> -->
                {{ item.title }}
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-view></router-view>
  </main>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        {
          title: " Inicio",
          icon: "mdiPencil",
          link: "/",
        },
        {
          title: " Libros",
          icon: "mdiPencil",
          link: "/libros",
        },
        {
          title: " Mis datos",
          icon: "mdiAccount",
          link: "/contacto",
        },
      ],
      mini: true,
    };
  },
};
</script>
