<template>
  <v-container>
    <v-card elevation="5">
      <v-card-title> Mis datos. </v-card-title>
      <v-list flat>
        <v-list-item-group v-model="selectedItem" color="primary">
          <v-list-item v-for="(item, i) in items" :key="i">
            <v-list-item-icon>
              <v-icon v-text="item.icon"></v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title v-text="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    data: () => ({
      selectedItem: 1,
      items: [
        { text: 'Nombre: Gian Pierree Muñoz', icon: 'mdi-account' },
        { text: 'Correo: gian0291@gmail.com', icon: 'mdi-email' },
        { text: 'Telefono: 51 940299360', icon: 'mdi-dialpad' },
      ],
    }),
  }
</script>