<template>
  <v-container>
    <v-card elevation="5">
        <v-card-title>
            Prueba de CRUD con libros.
        </v-card-title>
        <v-card-text>
            Esta prueba esta realizada con Laravel 8 y Vue.js 2.5 con Vuetify. <br><br>
            <router-link exact-active-class="active" to="/libros" class="nav-link active" >
                <v-btn elevation="2">
                    <i class="fas fa-location-arrow"></i> Ir a libros
                </v-btn>
            </router-link>
        </v-card-text>
    </v-card>
  </v-container>
</template>